.main {
    display: flex;
}

.img {
    transition: 0.3s;
    width: 50%; 
    overflow: hidden;
    margin-right: 50px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border: 2px solid black;
    border-left: none;
}

.img:hover {
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 20px 20px 40px #85FFB3;
    transform: scale(1.1)
}

.info {
    gap: 10px;
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    text-transform: uppercase;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid black;
}

.title:hover {
    transition: 0.3s;
    text-shadow: 2px 2px 3px #DB7093;
}

.desc {
    margin: 0;
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 19px;
    text-align: start;
}

@media screen and (max-width: 550px) {
    .main {
        flex-direction: column;
        align-items: center;
        gap: 20px
    }

    .img {
        width: 80%; 
        border: 2px solid black;
        border-radius: 50px;
    }


    .info {
        gap: 10px;
        width: 80%; 
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}