.main {
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

.main:hover {
    transition: 0.3s;
    transform: scale(1.2)
}

.img {
    width: 30px;
    height: auto;
}

.desc {
    margin: 0 0 10px;
    text-decoration: none;
    color: black;
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 19px;
    text-align: start;
}